:root {
  --dark-purple: #530D70;
  --medium-purple: #88569B;
  --light-purple: #BA9EC6;
  --dark-red: #D60024;
  --medium-red: #E34D68;
  --light-red: #EF98A8;
  --dark-yellow: #FFAE31;
  --medium-yellow: #FFC770;
  --light-yellow: #FFDFAE;
}

body {
  font-family: 'Poppins';
}

.send-btn {
  background-color: plum;
  border: none;
  color: purple;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.6s;
}

.send-btn:hover{
  background-color: purple;
  color: white;
}
